<div class="article-score">
  <div class="title">
    <h1>平均スコアの算出方法について</h1>
  </div>

  <div class="content">
    <div class="text-body-1">
      <p>Life in Pocketでは、宿泊価格に応じてその価格帯における平均スコアを掲載しております。</br>
      平均スコアは各価格帯ごとに算出され、宿泊価格と価格帯の対応表は下記の通りとなります。（2022年11月現在）</p>
    </div>

    <div class="price-table">
      <table>
        <thead>
          <tr>
            <th scope="col">宿泊価格</th>
            <th scope="col">価格帯</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>5千円未満</td>
            <td>~ 1万円</td>
          </tr>
          <tr>
            <td>5千円以上、1万円未満</td>
            <td>~ 2万円</td>
          </tr>
          <tr>
            <td>1万円以上、2万円未満</td>
            <td>5千円 ~ 4万円</td>
          </tr>
          <tr>
            <td>2万円以上、4万円未満</td>
            <td>1万円 ~ 6万円</td>
          </tr>
          <tr>
            <td>4万円以上、6万円未満</td>
            <td>2万円 ~ 10万円</td>
          </tr>
          <tr>
            <td>6万円以上、10万円未満</td>
            <td>4万円 ~ </td>
          </tr>
          <tr>
            <td>10万円以上</td>
            <td>6万円 ~ </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="text-body-2">
      <span class="caution">注意事項</span>
      <ul class="caution-list">
        <li>価格帯の設定は状況によって変更がございます。予めご了承ください。</li>
      </ul>
    </div>
  </div>
</div>

