<div class="nav_row_flex">
  <nav>
    <ul>
    <li class="color_blue"> <%= link_to 'ルーム情報登録', new_room_path %></li>
    <li> <%= link_to 'アカウント', users_account_path %></li>
    <li> <%= link_to 'プロフィール', users_profile_path %></li>
    </ul>
  </nav>
</div>
