.room-intro-page-container {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: white;
}

.room-detail-wrapper {
  padding: 0px 5px 5px 5px;
  margin-bottom: 30px;
}

.room-image {
  width: 100%;
  height: 250px;
  display: block;
  padding-bottom: 15px;
  margin: 0 auto;
  object-fit: cover;
}

.room-icon-name-adress-wrapper {
  display: flex;
  border-bottom: solid 0.5px rgba(0, 0, 0, 0.3);
  border-top: solid 0.5px rgba(0, 0, 0, 0.3);
  padding: 10px 10px 17px;
}

.room-name-adress-wrapper {
  padding-left: 7px;
}

.room-name-adress-wrapper p:nth-child(1) {
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0 15px;
}

.room-name-adress-wrapper p:nth-child(2) {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
}

.owner-icon {
  width: 35px;
  height: 35px;
  display: block;
  object-fit: cover;
  border-radius: 50px;
  padding: 10px;
}

.room-intro-container *, .room-intro-container *:before, .room-intro-container *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.room-intro-container {
  position: relative;
  border-bottom: solid 0.5px rgba(0, 0, 0, 0.2);
  padding-bottom: 45px;
}

.room-intro-container label {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  cursor: pointer;
  text-align: center;
}

.room-intro-container label:after {
  position: absolute;
  z-index: 2;
  bottom: 10px;
  left: 50%;
  content: ' もっと詳しく';
  transform: translate(-50%, 0);
  letter-spacing: 0.05em;
  color: black;
  text-decoration: underline;
  font-size: 14px;
}

.room-intro-container .intro-box {
  overflow: hidden;
  transition: all 0.5s;
  font-weight: lighter;
  font-size: 13px;
  line-height: 23px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  text-overflow: ellipsis;
  padding: 25px 15px 0px;
}

.room-intro-container input {
  display: none;
}

.room-intro-container input:checked + label:after {
  content: ' 閉じる';
}

.room-intro-container input:checked ~ .intro-box {
  height: auto;
  transition: all 0.5s;
  display: block;
}

// 予約エントリーフォーム
.reservation-entry-form-container {
  border-radius: 4px;
  padding: 35px;
  border: solid 0.5px rgba(0, 0, 0, 0.2);
  height: fit-content;
}

.reservation-entry-form-container p:nth-child(1) {
  margin-left: 20px;
  font-size: 19px;
}

.reservation-entry-form {
  width: calc(100% - 10px);
  max-width: 400px;
  margin: 0px auto;
  padding-bottom: 30px;
}

.reservation-entry-form label {
  color: rgba(0, 0, 0, 0.646);
  font-size: 14px;
}

.reservation-entry-form-date-field {
  color: rgba(0, 0, 0, 0.646);
  margin-bottom: 20px;
  border: solid 0.5px rgba(0, 0, 0, 0.2);
  height: 37px;
  width: 100%;
}

.reservation-entry-form-number-field {
  height: 37px;
  width: 100%;
  display: block;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.646);
  border: solid 0.5px rgba(0, 0, 0, 0.3);
  margin-bottom: 40px;
  padding-left: 20px;
}

.reservation-entry-form input[type="number"] {
  text-align: left;
}

.reservation-entry-form-number-field::placeholder {
  text-align: right;
  font-size: 13px;
}

.reservation-entry-form-submit {
  padding: 9px 6px;
  background-color: #4a90e2;
  border: solid 0.2px #4a90e2;
  border-radius: 3px;
  text-align: center;
  color: white;
  display: block;
  width: 100%;
}

@media (min-width: 450px) {
  .room-image {
    height: 300px;
  }

  .room-intro-page-container {
    width: calc(100% - 30px);
    margin: 10px auto 10px;
  }
}

@media (min-width: 770px) {
  .room-intro-page-container {
    flex-direction: row;
    max-width: 950px;
    justify-content: center;
    padding: 30px;
  }

  .room-detail-wrapper {
    padding-right: 30px;
    width: 55%;
  }

  .room-image {
    height: 310px;
  }

  .owner-icon {
    width: 50px;
    height: 50px;
  }

  .reservation-entry-form-container {
    border: solid 0.5px rgba(0, 0, 0, 0.3);
    width: 330px;
  }
}
