<% content_for :content do %>
  <div class="lists-container"> 
    <h1>ホスト管理</h1>
    <div class="lists-wrapper">
      <%= content_for?(:host_content) ? yield(:host_content) : yield %>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
