<% content_for :content do %>
  <div class="mypage-container">
    <%= render "shared/sidebar", sidemenu: "account" %>
    <div class="mypage-main-container">
      <%= content_for?(:mypage_content) ? yield(:mypage_content) : yield %>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
